@font-face {
    font-family: 'condensedBold';
    src:url(../font/OpenSans-CondBold.ttf);
}

@font-face {
    font-family: "bold";
    src:url(../font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "semiBold";
    src:url(../font/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: "light";
    src:url(../font/OpenSans-Light.ttf);
}

@font-face {
    font-family: "regular";
    src:url(../font/OpenSans-Regular.ttf);
}
div {
  font-size: 0;
}
body {
  background-color: #333333;
  overflow: hidden;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.focusable:focus {
  outline: none;
}
.titlePane {
  height: 100px;
}

.dateTile {
  font-size: 30px;
  color: #fff;
  font-family: "regular";
  position: relative;
  top: 50%;
  float: right;
}

.homePane {

}

.singleRowContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.singleRowContainer > div {
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 0;
}


.verticalRowContainer > div {
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 0;
}


.doubleRowContainer {

}

.rowTitle {
  height: 30px;
  line-height: 30px;
  font-size: 24px !important;
  color: #fff;
  font-family: "regular";
}

.entryPlaceHolder {

}

.rowEntry {
  background-color: #CAD3D3;
  display: inline-block;
  color: #333333;
  font-family: "bold";
  text-align: center;
  font-size: 28px;
}

.verticalRowContainer .rowEntry {

}

.rowInputs > .rowEntry {
  /*font-size: 18px;*/
}

.rowEntry:focus {
  background-color: #888888;
  color: #CAD3D3;
}

.darkDialog {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
}

.darkDialog > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
}

.darkDialog span {
  font-family: "regular";
  text-align: center;
  font-size: 30px;
  color: #eeeeee;
}

.darkDialog button {
  font-family: "bold";
  text-align: center;
  font-size: 30px;
  color: #333333;
}

.leftTitlePane {
  display: inline-block;
  float: left;
  height: 100%;
  position: absolute;
}

.titleTile {
  background-color: #CAD3D3;
  color: #333333;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
  font-family: "bold";
  text-align: center;
  font-size: 28px;
}

.verticalRowContainer {
  display: inline-block;
  float: right;
  overflow-y: hidden;

}

iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border-width: 0;
}

.sectionContainer {
  display: inline-block;
  vertical-align: top;
}

.tileColumn {
  display: inline-block;
}

.tileColumn > .rowEntry {
  display: block !important;
}

.recommendationPoster {
  background-color: #CAD3D3;
  display: inline-block;
  color: #333333;
  font-family: "bold";
  text-align: center;
  font-size: 28px;
}

.recommendationPoster:focus {
    background-color: #888888;
    color: #CAD3D3;
}

.featureAppHorizontal {
  background-color: #CAD3D3;
  display: inline-block;
  color: #333333;
  font-family: "bold";
  text-align: center;
  font-size: 28px;
}

.featureAppHorizontal:focus {
  background-color: #888888;
  color: #CAD3D3;
}


.featureAppVertical {
  background-color: #CAD3D3;
  display: inline-block;
  color: #333333;
  font-family: "bold";
  text-align: center;
  font-size: 28px;
}

.featureAppVertical:focus {
  background-color: #888888;
  color: #CAD3D3;
}

.horizontalScroller {
  white-space: nowrap;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.sectionContainer > span {
  font-size: 24px;
  color: #fff;
  font-family: "regular";
  display: block;
  margin-bottom: 10px;
}

.overlayNotification {
  color: #333333;
  font-family: "light" ;
  position: absolute;
  font-size: 15px;
  z-index: 998;
  width: 100%;
  background-color: #aaaaff;
  padding-left: 30px;
}

.overlayNotification #spanTarget {
  font-size: 25px;
  font-family: "regular";
}
